<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <title>{{ site.title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/stylesheet.core.css">
    <link rel="shortcut icon" href="./assets/img/favicon.png">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body class="bg-black text-white text-center">
    <div class="jumbotron">
        <img class="mb-3 logo-image" src="./assets/img/logo.png">
    </div>
    <div class="text-left container">
        <p class="lead font-calamity">
        Hello there. My name is Stykh. I'm a software engineer, game developer and mediocre musician.
        This is my website where I might post blogs but will mostly be where people can access my madness
        of code projects. Feel free to reach out to me on my Github or on Discord.
        </p>
    </div>
    <div class="text-center container">
        <h4 class="text-primary">My Projects</h4>
        <a class="btn btn-primary mb-3" href="/base64-simple/" target="_blank">Base64 Simple</a>
        <a class="btn btn-primary mb-3" href="/termina-clock/" target="_blank">Termina Clock</a>
    </div>
    <div class="text-center container">
        <h4 class="text-primary">Projects I Use and Support</h4>
        <a class="btn btn-primary mb-3" href="https://getbootstrap.com/" target="_blank">Bootstrap</a>
        <a class="btn btn-primary mb-3" href="https://github.com/chalk/chalk" target="_blank">Chalk</a>
        <a class="btn btn-primary mb-3" href="https://electronjs.org/" target="_blank">Electron</a>
        <a class="btn btn-primary mb-3" href="https://abal.moe/Eris" target="_blank">Eris</a>
        <a class="btn btn-primary mb-3" href="https://expressjs.com/" target="_blank">Express</a>
        <a class="btn btn-primary mb-3" href="https://fontawesome.com/" target="_blank">FontAwesome</a>
        <a class="btn btn-primary mb-3" href="https://gulpjs.com/" target="_blank">Gulp</a>
        <a class="btn btn-primary mb-3" href="https://howlerjs.com/" target="_blank">Howler</a>
        <a class="btn btn-primary mb-3" href="https://jquery.com/" target="_blank">jQuery</a>
        <a class="btn btn-primary mb-3" href="https://momentjs.com/" target="_blank">Moment</a>
        <a class="btn btn-primary mb-3" href="https://nodejs.org/" target="_blank">Node.JS</a>
        <a class="btn btn-primary mb-3" href="https://pugjs.org/" target="_blank">Pug</a>
        <a class="btn btn-primary mb-3" href="https://reactjs.org/" target="_blank">React</a>
        <a class="btn btn-primary mb-3" href="https://socket.io/" target="_blank">Socket.IO</a>
        <a class="btn btn-primary mb-3" href="https://typescriptlang.org/" target="_blank">TypeScript</a>
        <a class="btn btn-primary mb-3" href="https://www.khronos.org/webgl/" target="_blank">WebGL</a>
        <a class="btn btn-primary mb-3" href="https://webpack.js.org/" target="_blank">Webpack</a>
    </div>
    <div class="text-center">
        <div id="social-links">
            <a href="https://soundcloud.com/stykh" target="_blank">Soundcloud</a>
            <span> &bull; </span>
            <a href="https://stykh.tumblr.com/" target="_blank">Tumblr</a>
        </div>
        <span class="text-muted">&copy; Stykh Software 2019</span>
    </div>
</body>
